section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

form {
    width: 25%;
    margin: 4rem auto;
}

.microphone-btn {
    position: absolute;
    top: 15px;
    right: 20px;
}

input {
    margin-bottom: 2rem;
}